# Dependencies
**/node_modules/

# Environment files
**/.env
**/.env.*

# Allow example environment files
!**/.env.example

# Angular
.angular/
dist/

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Uploaded product images
backend/uploads/products/

# Frontend images
frontend/src/assets/images/